.StaffOrderManagement {
    min-width: 90vw;
    /* min-width: 1165px; */
    margin-top: 100px !important;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    /* width: 90%;*/
  }
  
  
  .StaffOrderManagement h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .custom-upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-upload-button:hover {
    background-color: #0056b3;
  }
  
  
.image-container {
  position: relative;
  display: inline-block;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container .text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn-outline-primary {
  max-width: 100px;
  padding: 5px 10px;
}
  
  
  option[disabled] {
    color: gray;
  }
  

  .search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .btn-primary{
    font-weight: 600;
  }
  .btn-primary:hover{
    background-color: #333 !important;
    color: white !important;
  }
  .search-section input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .mt-5{
    margin: 40px 0 0 0 !important;
  }
  .search-section button {
    align-items: center;
    display: flex;
    min-height: 39px;
    color: #333;
    border-color: #d3d3d3;
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
    border-radius: 5px;
  }
  
  
  .search-section button:hover {
    color: #ffffff !important;
  }
  
  
  .order-details {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  
  .order-details p {
    margin: 10px 0;
  }
  
  
  .order-details input,
  .order-details select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .order-details button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  
  .text-center {
    min-height: calc(100vh - 550px); /* Đảm bảo tối thiểu chiều cao để trang trông cân đối */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .image-container {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Đổi con trỏ thành pointer */
    border-radius: 5px;
  }
  
  .btn-outline-primary {
    padding: 2px 5px; /* Giảm padding để nút nhỏ hơn */
    font-size: 15px; /* Giảm kích thước chữ */
    max-width: 100px; /* Điều chỉnh lại max-width */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn chữ bị tràn */
    text-overflow: ellipsis; /* Thêm dấu "..." nếu chữ bị tràn */
  }
  
  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .evidence_table{
    display: table-caption;
}
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay .text {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  